@font-face {
    font-family: figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
    --Figtree-font: Figtree;
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --Yellow: hsl(47, 88%, 63%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.learningbtn {

    padding: 6px 13px;
    background-color: var(--Yellow);
    font-weight: 800;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 13px;
    display: inline-block;


}

.card {
    container: flex;
    border: 2px solid var(--Black);
    box-shadow: 7px 7px 0px 0px var(--Black);
    padding: 25px;
    background-color: var(--White);
    height: max-content;
    border-radius: 20px;
    margin: 23px 23px;
    max-width: 380px;
}

.card>div img {
    display: block;
    border-radius: 10px;
}

.card .content {
    margin-top: 20px;
}


.card:hover {
    transition: box-shadow 0.3s;
    box-shadow: 12px 12px;
}

.img {
    width: 100%;
}

main {
    width: fit-content;
}

.container {
    background-color: rgb(245, 207, 79);
    align-items: center;
    justify-content: center;
}

.pic {
    align-items: left;
}


body {
    font-family: var(--Figtree-font);
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    display: flex;
}
.paragraph{
    align-items: center;
    margin-bottom: 23px;
    font-size: 14px;
}
.a{
    text-decoration: none;
    color: var(--Black);
    margin-bottom: 23px;
}

p{
    margin-bottom: 23px;
color:var(--Grey);
font-size: 16px;}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image{
    margin-right: 10px;
}

figcaption{
    flex: 1;
}